<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />

		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="styles.css" />
	</head>

	<body class="bg-dark">
		<div class="container">
			<div class="row">
				<div class="col justify-content-around">
					<div class="row justify-content-center mt-3">
						<h2
							class="text-monospace text-capitalize font-weight-bold text-white mt-5 mb-3"
						>
							Books Menu
						</h2>
					</div>
					<div class="row justify-content-center mt-3">
						<a
							id="addBtn"
							href="/books/add"
							class="btn btn-outline-primary btn-lg"
						>
							Add new book
						</a>
					</div>
					<div class="row justify-content-center mt-3">
						<a
							id="listAllBtn"
							href="/books/list"
							class="btn btn-outline-primary btn-lg"
						>
							List all books
						</a>
					</div>
					<div class="row justify-content-center mt-3">
						<a
							id="editBtn"
							href="/books/list"
							class="btn btn-outline-primary btn-lg"
						>
							Edit book
						</a>
					</div>
					<div class="row justify-content-center mt-3">
						<a
							id="removeBtn"
							href="/books/list"
							class="btn btn-outline-primary btn-lg"
						>
							Remove book
						</a>
					</div>
					<div class="row justify-content-center mt-3">
						<a id="homeBtn" href="/" class="btn btn-outline-danger btn-lg">
							Homepage
						</a>
					</div>
				</div>
			</div>
		</div>

		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"
		></script>
	</body>
</html>
